dist
target
nbactions.xml 
nbproject
manifest.mf
**html
**.sh
cfg
output
.classpath
.project
.settings
**/*.swp

doc/_build
doc/**/*ipynb*
doc/generated
doc/*sh
doc/grid/_static/*svg
doc/grid/_static/*pdf

