dist
target
nbactions.xml
nbproject
manifest.mf
**.sh
cfg
output
.classpath
.project
.settings
**/*.swp

doc/_build
doc/**/*ipynb*
doc/generated
doc/*sh
doc/**/_static/*svg
doc/**/_static/*pdf
doc/ichthyop_output
doc/_static/javadoc

input
_book

**/.DS_Store
